
@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

header {
  padding: 20px;
  text-align: center;
}

#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-input {
  box-sizing: border-box;
  width: 272px;
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  margin-right: 8px;

  font-family: sans-serif;
  letter-spacing: 0.64px;

  border-radius: 4px;
  border: 1px solid #808080;
}

button {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  background: #4E75FF;
  border: none;

  color: #FFF;
  font-family: sans-serif;
  font-weight: 500;
  letter-spacing: 0.64px;
  height: 40px;
}

#loader {
  display: none;
  text-align: center;
  padding: 50px 0;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  list-style-type: none;
  margin: 0;

  row-gap: 24px;
  column-gap: 24px;
  flex-direction: row;
  box-sizing: border-box;
}

#gallery li {
  width: calc((100% - 48px) / 3);
  background: #FFF;
}

.info {
  display: flex;
  gap: 32px;
  text-align: center;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 1px solid #808080;
}

.info p span {
  font-weight: 600;
}

#gallery img {
  width: 450px;
  height: 300px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  object-fit: cover;
}
